.image{
	border-radius: 50px 50px 50px 50px;
	filter: contrast(110%);
	border: solid 5px;
	
	position: absolute;
	right:	30px;
	bottom: -120;
}

h3{
	text-align:	center;
	border: solid 30px;
}


body{
	background-color:	#CD6889;
}


h4{
	font-family: cursive;
}
.center{
	text-align:	center;
	border: solid 10px #800080;
	padding-top: 5px;
	margin-top: 0px;
	background-color: #FF00FF; 
}	


a{
	color: blue;
}

div{
	color: #000000;
	border: solid 3px #000000 ;
	margin-top: 5px;
}

.animals{
	border-radius: 50px 50px 50px 50px;
	filter: contrast(110%);
	border: solid 5px;
	
	position: absolute;
	left:	30px;
	bottom: -120;
}



<img src="аделина.jp" height="360"/>